.burger {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 10;

    width: 44px;
    height: 44px;
    border-radius: 12px;

    background: rgba(255, 255, 255, 0.06);
    color: #fff;
    font-size: 22px;
    border: none;
}
