.card {
    background: linear-gradient(180deg, #17171d, #121217);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 16px;
}

.card-label {
    font-size: 13px;
    color: var(--text_secondary);
}

.card-value{
    margin-top: 8px;
    font-size: 42px;
    font-weight: 600;
    color: var(--text);
}