:root {
    --bg: #0e0e12;
    --bg2: #5b8cff;

    /*button*/
    --primary: #5B8CFF;
    --secondary: #2A2A33;
    --layout: #17171D;

    /*card*/
    --card: #17171D;

    /*text*/
    --text: #ffffff;
    --text_secondary: #9AA0A6;
    --text_dandeours: #FF6B6B;
    --text_ok: #3CCF91;

    /*"layout"*/
    --layout_bg: #0E0E12;
}

#root {
    height: 100vh;
    max-width: 420px;
    margin: 0 auto;
    padding: 16px;
    flex-direction: column;
    display: flex;
    background: linear-gradient(
            180deg,
            var(--bg2) 0%,
            var(--bg) 21%
    );

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.screen{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bottom{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

