
.menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(6px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
    z-index: 1000;
}

.menu-overlay.open {
    opacity: 1;
    pointer-events: auto;
}

.menu-sheet {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 72vh;
    max-height: 72vh;
    border-radius: 24px 24px 0 0;

    background: var(--layout_bg);
    padding: 20px;

    transform: translateY(100%);
    transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);

    display: flex;
    flex-direction: column;
}


.menu-sheet.open {
    transform: translateY(0);
}


.menu-header {
    text-align: center;
}

.menu-title {
    font-size: 20px;
    font-family: Unbounded, sans-serif;
    color: #ffffff;
}

.menu-divider {
    height: 1px;
    width: 100%;
    background: linear-gradient(
            to right,
            transparent,
            rgba(255, 255, 255, 0.25),
            transparent
    );
    margin-top: 16px;
}

.menu-content-buttons{
    margin-top: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.menu-bottom {
    margin-top: auto;
}
