.history-item {
    background: var(--card);
    border-radius: 16px;
    padding: 14px 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.history-amount {
    font-size: 18px;
    font-weight: 500;
}

.history-amount.plus {
    color: var(--text_ok);
}

.history-amount.minus {
    color: var(--text_dandeours);
}

.history-date {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.history-type {
    font-size: 13px;
    font-weight: 500;
}

.history-type.credit {
    color: var(--text_ok);
}

.history-type.debit {
    color: var(--text_dandeours);
}
